html body {
  font-family: 'Myriad', sans-serif;
  font-weight: 400;
  margin: 0;
}

div {
  font-family: 'Myriad', sans-serif;
  color: var(--main-text-color);
}

p,
h2,
span {
  font-family: 'Myriad', sans-serif;
  margin: 0;
  padding: 0;
  color: inherit;
}

body,
div,
p,
a {
  font-size: 18px;
  @media (max-width: 474px) {
    font-size: 16px;
  }
}

a {
  font-family: 'Myriad', sans-serif;
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 100%;
}

svg {
  touch-action: auto;
}

.token-bg {
  background: #c0c0c0;
  padding: 6px;
  border-radius: 100%;
}

.ant-picker-content {
  div {
    color: inherit;
  }
}

.ant-picker.datePicker {
  color: #231f20;
  width: 100%;
  background: #fff;
  border: none;
  width: 100%;
  height: 44px;
  input {
    color: #231f20;
    &::placeholder {
      color: #353535;
    }
  }
}

.form-label {
  color: #606060;
  font-family: 'gothic';
}

.question {
  font-family: 'sans-serif';
}

div[class='red'] {
  .form-label {
    color: #000;
  }
  .ant-picker.datePicker {
    color: #000;
    background: #fff;
    border: 1px solid #eaeaea;
    input {
      color: #000;
    }
  }
}

.highcharts-background {
  fill: #000;
}

.highcharts-plot-background {
  fill: #000;
}

div[class='red'] {
  .highcharts-background {
    fill: #fff;
  }

  .highcharts-plot-background {
    fill: #fff;
  }
}

.datePickerDropdown {
  z-index: 1000000000000000;
}

.ant-switch {
  // background-color: #555 !important;
  &.ant-switch-checked {
    background-color: #1f14ed !important;
  }
}

.ant-modal-content {
  background-color: var(--modal-background-color);
  border-radius: 8px;

  .ant-modal-body {
    padding: 50px;
  }
}

.ant-modal-close {
  color: #9595c2;
  &:hover {
    color: #9595c2;
  }
}

.long-tooltip {
  .ant-tooltip-content {
    width: 500px;
  }
}

.ant-notification {
  div {
    color: #231f20;
  }
}

.ant-tooltip-inner {
  font-size: 14px;
}

.ant-message-notice-content {
  div {
    font-size: 14px;
    color: #231f20;
  }
}

.ant-picker-header-view {
  color: var(--main-text-color);
}

.ant-picker-panel-container {
  background: var(--modal-background-color) !important;
}

.ant-picker-header button {
  color: var(--second-text-color);
  &:hover {
    color: var(--main-text-color);
  }
}

.ant-picker-content th {
  color: var(--main-text-color);
}

.ant-picker-cell-disabled {
  color: var(--second-text-color);
  opacity: 0.5;
}

.ant-picker-cell-in-view {
  color: var(--main-text-color);
}

.ant-picker-cell-inner {
  &:hover {
    color: var(--blue-color);
  }
}

.ant-picker-clear {
  background: var(--modal-background-color);
}

.anticon {
  svg {
    g,
    path {
      fill: var(--main-text-color);
    }
  }
}

.anticon-info-circle {
  svg {
    margin-top: -8px;
  }
}
