@mixin overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@mixin card {
  background: var(--background-color);
  box-shadow: var(--card-box-shadow);
  border-radius: 6px;
}

@mixin colorful-button {
  height: 60px;
  background: linear-gradient(
    90deg,
    #165dff 0%,
    #1f14ed 0%,
    #1f14ed 1%,
    #f05a29 100%
  );
  box-shadow: var(--btn-box-shadow);
  border-radius: 6px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  &[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

@mixin troggle-button {
  padding: 4px 8px;
  color: var(--disabled-text-color);
  border: none;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &[data-active='true'] {
    opacity: 1;
    background: var(--tag-background-color);
    border-radius: 4px;
    color: var(--primary-color);
    box-shadow: var(--tag-box-shadow);
  }
}

@mixin tag {
  display: inline-block;
  padding: 4px 8px;
  font-size: 14px;
  background: var(--tag-background-color);
  border-radius: 5px;
  box-shadow: var(--tag-box-shadow);
}

@mixin max-button {
  color: var(--blue-color);
  font-size: 16px;
  cursor: pointer;
}

@mixin color-svg($color: #fff) {
  svg {
    g,
    path {
      fill: $color;
    }
  }
}
