@import './theme';
@import './global';
@import './mixin';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Myriad';
  font-weight: 400;
  src: url('../fonts/Myriad Pro Regular.ttf');
}

@font-face {
  font-family: 'Myriad';
  font-weight: 600;
  src: url('../fonts/Myriad Pro Bold.ttf');
}

.color-blue {
  color: var(--blue-color);
}
